:root {
  --padding-macos-traffic-lights: 65px;
  --padding-windows-title-bar-controls: 148px;
}

/* Add a border between editors */
.monaco-workbench
  .part.editor
  .monaco-split-view2.horizontal
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view:not(:first-child) {
  border-left: 1px solid var(--vscode-panel-border);
}

.monaco-workbench
  .part.editor
  .monaco-split-view2.vertical
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view:not(:first-child) {
  border-top: 1px solid var(--vscode-panel-border);
}

/* Force sticky header to take full width, so scroll area doesn't have awkward box shadows */
.monaco-editor .sticky-widget {
  width: 100% !important;
}

/* Bump find/replace widget down so the box shadow looks better */
.monaco-editor .find-widget.find-widget.visible {
  transform: translateY(16px);
  opacity: 1;
  pointer-events: auto;
}

.monaco-editor .find-widget.find-widget {
  transform: translateY(4px);
  opacity: 0;
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  pointer-events: none;
}

/* Bump terminal find/replace widget down as well */
.monaco-workbench .simple-find-part.visible-transition {
  top: 8px;
  opacity: 1;
}

.monaco-workbench .simple-find-part {
  top: 0;
  opacity: 0;
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
  transition: top 0.2s ease-out, opacity 0.2s ease-out;
}

/* Remove selection outline when you click on Explorer panel */
.part.sidebar .monaco-list::before {
  visibility: hidden;
}

/* Fix alignment of sidebar title */
.monaco-workbench .part.sidebar > .title {
  padding-left: 0;
}

/* Fix alignment of sidebar activity bar */
.monaco-workbench .part.sidebar > .header-or-footer {
  padding-left: 8px;
  padding-right: 8px;
}

.monaco-workbench .part.sidebar > .header-or-footer .actions-container {
  gap: 8px;
}

/*
 * Everything from here down only works if the Custom UI Style extension
 * is enabled to hide the default title bar. Otherwise, remove these styles.
 */
.monaco-workbench.vs {
  --window-background-color: rgb(from var(--vscode-editor-background) r g b / 60%);
}

.monaco-workbench.vs-dark {
  --window-background-color: rgb(from var(--vscode-editor-background) r g b / 70%);
}

/*
 * Windows — Put a small gradient over the phantom title bar behind transparent window
 * https://github.com/electron/electron/issues/39959
 */
.monaco-workbench.windows {
  background: linear-gradient(
    var(--vscode-editor-background) 0,
    var(--vscode-editor-background) 31px,
    var(--window-background-color) 64px
  );
}

.monaco-workbench.mac {
  background-color: var(--window-background-color);
}

/* Make title bars draggable to move the window */
.monaco-workbench .part.sidebar .title .title-label,
.monaco-workbench .part.activitybar,
.monaco-workbench .part.editor .title .label-container,
.monaco-workbench .part.editor .editor-group-container.empty {
  -webkit-app-region: drag;
}

.monaco-workbench .part.activitybar .monaco-action-bar {
  -webkit-app-region: no-drag;
}

/* Expand draggable title label in side bar, without shrinking actions */
.monaco-workbench .part.sidebar .composite.title .title-label {
  flex: 1;
}

.monaco-workbench .part.sidebar .composite.title .title-actions {
  flex: 0 0 0%;
}

/* macOS — Make room for traffic lights in side bar */
.monaco-workbench.mac:not(:has(.activitybar.left))
  .part.sidebar:not(:has(> .header))
  > .title
  > .title-label {
  padding-left: calc(var(--padding-macos-traffic-lights) + 20px);
}

.monaco-workbench.mac:has(.activitybar.left) .part.sidebar > .title > .title-label {
  padding-left: 32px;
}

/* macOS — Make room for traffic lights in activity bar when positioned top of side bar */
.monaco-workbench.mac .part.sidebar > .header {
  padding-left: calc(var(--padding-macos-traffic-lights) + 17px);
}

/* macOS — Make room for traffic lights in activity bar when positioned left */
.monaco-workbench.mac .activitybar.left {
  padding-top: 35px;
}

/* macOS — Make room for traffic lights in first editor */
.monaco-workbench.mac.nosidebar
  .part.editor
  > .content
  .split-view-view:first-child
  .editor-group-container
  > .title:not(.tabs) {
  padding-left: var(--padding-macos-traffic-lights);
}

.monaco-workbench.mac.nosidebar:has(.activitybar.left)
  .part.editor
  > .content
  .split-view-view:first-child
  .editor-group-container
  > .title:not(.tabs) {
  padding-left: 20px;
}

/* macOS — Make room for traffic lights when bottom panel is maximized */
.monaco-workbench.mac.nomaineditorarea.nosidebar .part.panel.bottom .composite.title {
  padding-left: calc(var(--padding-macos-traffic-lights) + 10px);
}

.monaco-workbench.mac.nomaineditorarea.nosidebar:has(.activitybar.left)
  .part.panel.bottom
  .composite.title {
  padding-left: 22px;
}

/* Windows — Make room for title bar controls in last editor */
.monaco-workbench.windows
  .part.editor
  > .content
  .split-view-view:last-child
  .editor-group-container
  > .title:not(.tabs) {
  padding-right: var(--padding-windows-title-bar-controls);
}

/* Windows - Make room for title bar controls when bottom panel is maximized */
.monaco-workbench.windows.nomaineditorarea .part.panel.bottom .composite.title {
  padding-right: var(--padding-windows-title-bar-controls);
}
