:root {
  --padding-traffic-lights: 68px;
  --padding-title-bar-controls: 148px;
}

/* Add a border between editors */
.monaco-workbench
  .part.editor
  .monaco-split-view2.horizontal
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view:not(:first-child) {
  border-left: 1px solid var(--vscode-panel-border);
}

.monaco-workbench
  .part.editor
  .monaco-split-view2.vertical
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view:not(:first-child) {
  border-top: 1px solid var(--vscode-panel-border);
}

/* Force sticky header to take full width, so scroll area doesn't have awkward box shadows */
.monaco-editor .sticky-widget {
  width: 100% !important;
}

/* Bump find/replace widget down so the box shadow looks better */
.monaco-editor .find-widget.find-widget.visible {
  transform: translateY(16px);
  opacity: 1;
  pointer-events: auto;
}

.monaco-editor .find-widget.find-widget {
  transform: translateY(4px);
  opacity: 0;
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  pointer-events: none;
}

/* Bump terminal find/replace widget down as well */
.monaco-workbench .simple-find-part.visible-transition {
  top: 8px;
  opacity: 1;
}

.monaco-workbench .simple-find-part {
  top: 0;
  opacity: 0;
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
  transition: top 0.2s ease-out, opacity 0.2s ease-out;
}

/* Remove selection outline when you click on Explorer panel */
.part.sidebar .monaco-list::before {
  visibility: hidden;
}

/* Fix alignment of sidebar title and activity bar */
.monaco-workbench .part.sidebar > .title {
  padding-left: 0;
}
.monaco-workbench .part.sidebar > .header-or-footer {
  padding-left: 8px;
  padding-right: 8px;
}
.monaco-workbench .part.sidebar > .header-or-footer .actions-container {
  gap: 8px;
}

/*
 * Everything from here down only works if the Custom UI Style extension
 * is enabled to hide the default title bar. Otherwise, remove these styles.
 */

/* Make title bars draggable to move the window */
.monaco-workbench .part.sidebar .title .title-label,
.monaco-workbench .part.editor .title .label-container,
.monaco-workbench .part.editor .editor-group-container.empty {
  -webkit-app-region: drag;
}

/* Expand draggable title label in side bar, without shrinking actions */
.monaco-workbench .part.sidebar .composite.title .title-label {
  flex: 1;
}
.monaco-workbench .part.sidebar .composite.title .title-actions {
  flex: 0 0 0%;
}

/* macOS — Make room for traffic lights in side bar */
.monaco-workbench.mac .part.sidebar > .title > .title-label {
  padding-left: var(--padding-traffic-lights);
}

/* macOS — Make room for traffic lights in first editor */
.monaco-workbench.mac.nosidebar
  .part.editor
  > .content
  .split-view-view:first-child
  .editor-group-container
  > .title:not(.tabs) {
  padding-left: var(--padding-traffic-lights);
}

/* macOS — Make room for traffic lights when bottom panel is maximized */
.monaco-workbench.mac.nomaineditorarea.nosidebar .part.panel.bottom .composite.title {
  padding-left: var(--padding-traffic-lights);
}

/* Windows — Make room for title bar controls in last editor */
.monaco-workbench.windows
  .part.editor
  > .content
  .split-view-view:last-child
  .editor-group-container
  > .title:not(.tabs) {
  padding-right: var(--padding-title-bar-controls);
}

/* Windows - Make room for title bar controls when bottom panel is maximized */
.monaco-workbench.windows.nomaineditorarea .part.panel.bottom .composite.title {
  padding-right: var(--padding-title-bar-controls);
}
